@font-face {
    font-family: worksanslighter;
    src: url("../font/Worksans-Light.ttf");
}


@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
    animation-duration: 2.5s;
}

.slideInUp.ng-enter.ng-leave {
    z-index: 100;
    animation-name: slideInUp;
    animation-duration: 2.5s;
}

.slideInUp.ng-leave.ng-leave-active {
    z-index: 100;
    animation-name: slideInUp;
    animation-duration: 2.5s;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
    animation-duration: 2.5s;
}

.slideInRight.ng-enter.ng-leave {
    z-index: 100;
    animation-name: slideInRight;
    animation-duration: 2.5s;
}

.slideInRight.ng-leave.ng-leave-active {
    z-index: 100;
    animation-name: slideInRight;
    animation-duration: 2.5s;
}

.backbtn {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    top: 15px;
    z-index: 999;
    position: absolute;
    padding-left: 40px;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin linear-gradient($angle,
$color-stops...) {
    $_angle-with-vendor-prefix: "";
    $_angle: "";
    @if $angle=="to top" or $angle=="bottom" {
        $_angle-with-vendor-prefix: bottom;
        $_angle: to top;
    }
    @else if $angle=="to right" or $angle=="left" {
        $_angle-with-vendor-prefix: left;
        $_angle: to right;
    }
    @else if $angle=="to bottom" or $angle=="top" {
        $_angle-with-vendor-prefix: top;
        $_angle: to bottom;
    }
    @else if $angle=="to left" or $angle=="right" {
        $_angle-with-vendor-prefix: right;
        $_angle: to left;
    }
    @else if $angle=="to top right" or $angle=="bottom left" {
        $_angle-with-vendor-prefix: bottom left;
        $_angle: to top right;
    }
    @else if $angle=="to bottom right" or $angle=="top left" {
        $_angle-with-vendor-prefix: top left;
        $_angle: to bottom right;
    }
    @else if $angle=="to bottom left" or $angle=="top right" {
        $_angle-with-vendor-prefix: top right;
        $_angle: to bottom left;
    }
    @else if $angle=="to top left" or $angle=="bottom right" {
        $_angle-with-vendor-prefix: bottom right;
        $_angle: to top left;
    }
    @else {
        $_angle-with-vendor-prefix: $angle % 360;
        $_angle: (90 - $angle) % 360;
    }
    background: -webkit-linear-gradient($_angle-with-vendor-prefix,
    $color-stops);
    background: -moz-linear-gradient($_angle-with-vendor-prefix,
    $color-stops);
    background: -o-linear-gradient($_angle-with-vendor-prefix,
    $color-stops);
    background: linear-gradient($_angle,
    $color-stops);
}

@mixin transform($transform) {
    -moz-transform: $transform;
    -o-transform: $transform;
    -ms-transform: $transform;
    -webkit-transform: $transform;
    transform: $transform;
}

@mixin transform-origin($val) {
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -ms-transform-origin: $val;
    transform-origin: $val;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin transition($transition-property,
$transition-time,
$method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin border-radius($border-radius) {
    -webkit-border-radius: $border-radius;
    -moz-border-radius: $border-radius;
    border-radius: $border-radius;
}

@mixin box-shadow($type) {
    -webkit-box-shadow: $type;
    -moz-box-shadow: $type;
    box-shadow: $type;
}

@mixin linear-gradient($a,
$b,
$c) {
    background: -webkit-linear-gradient($a, $b, $c) !important;
    background: -o-linear-gradient($a, $b, $c) !important;
    background: -moz-linear-gradient($a, $b, $c) !important;
    background: linear-gradient(to $a, $b, $c) !important;
}

@mixin animation($str) {
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};
}

$bgMain: #f4f3f0;
$bgLoader: #f3cee0;
$bgInput00: #C5685E;
$bgInput01: #9E554D;

@include keyframes(btnFX) {
    0% {
        transform: scale(0.9, 0.9)
    }
    20% {
        transform: scale(1, 1)
    }
    30% {
        transform: scale(0.9, 0.9)
    }
    40% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(0.9, 0.9)
    }
    100% {
        transform: scale(1, 1)
    }
}

@include keyframes(btnFX01) {
    0% {
        transform: scale(0.9, 0.9)
    }
    40% {
        transform: scale(1, 1)
    }
}

@include keyframes(splash) {
    0% {
        transform: scale(0, 0)
    }
    50% {
        transform: scale(0, 0)
    }
    60% {
        transform: scale(0.9, 0.9)
    }
    70% {
        transform: scale(1, 1)
    }
    80% {
        transform: scale(0.9, 0.9)
    }
    100% {
        transform: scale(1, 1)
    }
}

@include keyframes(splashT) {
    0% {
        transform: scale(0, 0) translate(-50%, -50%)
    }
    50% {
        transform: scale(0, 0) translate(-50%, -50%)
    }
    60% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    70% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
    80% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    100% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
}

@include keyframes(splashX) {
    0% {
        transform: scale(0, 0) translate(-50%, 0%)
    }
    50% {
        transform: scale(0, 0) translate(-50%, 0%)
    }
    60% {
        transform: scale(0.9, 0.9) translate(-50%, 0%)
    }
    70% {
        transform: scale(1, 1) translate(-50%, 0%)
    }
    80% {
        transform: scale(0.9, 0.9) translate(-50%, 0%)
    }
    100% {
        transform: scale(1, 1) translate(-50%, 0%)
    }
}

@include keyframes(splashY) {
    0% {
        transform: scale(0, 0) translate(0%, -50%)
    }
    50% {
        transform: scale(0, 0) translate(0%, -50%)
    }
    60% {
        transform: scale(0.9, 0.9) translate(0%, -50%)
    }
    70% {
        transform: scale(1, 1) translate(0%, -50%)
    }
    80% {
        transform: scale(0.9, 0.9) translate(0%, -50%)
    }
    100% {
        transform: scale(1, 1) translate(0%, -50%)
    }
}

@include keyframes(splashGoalT) {
    0% {
        transform: scale(0, 0) translate(-50%, -50%)
    }
    89% {
        transform: scale(0, 0) translate(-50%, -50%)
    }
    90% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    94% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
    97% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    100% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
}

@include keyframes(splashGoalP) {
    0% {
        transform: scale(1, 1)
    }
    20% {
        transform: scale(1.2, 1.2)
    }
    40% {
        transform: scale(0.9, 0.9)
    }
    60% {
        transform: scale(1.1, 1.1)
    }
    80% {
        transform: scale(0.9, 0.9)
    }
    100% {
        transform: scale(1, 1)
    }
}

@include keyframes(splashGoalPT) {
    0% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
    20% {
        transform: scale(1.3, 1.3) translate(-50%, -50%)
    }
    40% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    60% {
        transform: scale(1.5, 1.5) translate(-50%, -50%)
    }
    80% {
        transform: scale(0.9, 0.9) translate(-50%, -50%)
    }
    100% {
        transform: scale(1, 1) translate(-50%, -50%)
    }
}

@include keyframes(splashGoalX) {
    0% {
        transform: scale(0, 0) translate(-50%, 0%)
    }
    89% {
        transform: scale(0, 0) translate(-50%, 0%)
    }
    90% {
        transform: scale(0.9, 0.9) translate(-50%, 0%)
    }
    94% {
        transform: scale(1, 1) translate(-50%, 0%)
    }
    97% {
        transform: scale(0.9, 0.9) translate(-50%, 0%)
    }
    100% {
        transform: scale(1, 1) translate(-50%, 0%)
    }
}

@include keyframes(a) {
    0% {
        top: 0
    }
    20% {
        top: -6px
    }
    30% {
        top: 0
    }
    100% {
        top: 0
    }
}

@include keyframes(b) {
    0% {
        top: 0
    }
    20% {
        top: -12px
    }
    30% {
        top: 0
    }
    100% {
        top: 0
    }
}

@include keyframes(circularLoaderLeft) {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(180deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@include keyframes(circularLoaderRight) {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(90deg)
    }
    75% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(90deg)
    }
}

@include keyframes(circularLoaderRightComplete) {
    0% {
        transform: rotate(0deg)
    }
    25% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    75% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@include keyframes(wink) {
    0% {
        transform: rotate(-10deg)
    }
    10% {
        transform: rotate(10deg)
    }
    30% {
        transform: rotate(-10deg)
    }
    50% {
        transform: rotate(10deg)
    }
    100% {
        transform: rotate(10deg)
    }
}

@include keyframes(x) {
    0% {
        transform: scale(1, 0)
    }
    4% {
        transform: scale(1, 1)
    }
    8% {
        transform: scale(1, 0)
    }
    10% {
        transform: scale(1, 1)
    }
}

@include keyframes(fadein) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#welcomePanel,
#homeDetails {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url("../images/Group 488.png");
    background-position: center;
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    @include transform(translate(-50%,
    -50%));

}
.content .title {
        font-size: 4em;
        color: white;
    }
#homeDesign {
    position: relative;
    width: 100vw;
    height: 100vh;
    .carouselWrapper {
        ul.carousel {
            overflow: hidden;
            position: absolute;
            z-index: -1;
            width: 100vw;
            height: 100vh;
            margin: 0;
            padding: 0;
            li {
                position: absolute;
                width: 100vw;
                height: 100vh;
                list-style-type: none;
                img {
                    object-fit: cover;
                    object-position: 50% 50%;
                    width: 100vw;
                    height: 100vh;
                }
            }
        }
        ul.carouselNav {
            position: absolute;
            z-index: 1;
            top: 1em;
            left: 50%;
            padding: 0;
            @include transform(translate(-50%,
            0));
            li {
                list-style-type: none;
                display: inline-block;
                margin: 0 3px;
                width: 10px;
                height: 10px;
                background: rgba(255, 255, 245, 0.3);
                border-radius: 50%;
            }
        }
        .arrowLeft {
            position: absolute;
            top: 1em;
            left: 1em;
            color: white;
            i {
                color: white;
            }
        }
        .arrowRight {
            position: absolute;
            top: 1em;
            right: 1em;
            color: white;
            i {
                color: white;
            }
        }
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        .welcome {
            position: absolute;
            bottom: 3em;
            padding: 1em 0;
            width: 100vw;
            color: white;
            @include linear-gradient(30deg,
            rgba(0,
            25,
            47,
            0.9),
            rgba(0,
            25,
            47,
            0.12));
            h1 {
                margin-left: 1em;
                padding: 0.5em 0;
                font-size: 4em;
                color: white;
            }
            .url {
                text-align: right;
                a {
                    display: inline-block;
                    position: relative;
                    top: 50%;
                    margin-right: 1em;
                    padding: 1em 2.5em;
                    font-size: 1em;
                    color: white;
                    background: rgba(0, 25, 47, 0.9);
                    border-radius: 30px;
                    @include transform(translate(0,
                    -50%));
                }
            }
        }
    }
}

@media (max-width: 575px) {
    body #homeDesign .content .welcome .url {
        text-align: center;
    }
    body #homeDesign .content .welcome h1 {
        text-align: center;
    }
}