<div class="backgrund">
    <div class="row">
        <button class="backbtn" ng-click="goBack()"><img src="img/backarrow.svg"></button>
        <div class="col-md-12">
            <form class="form-horizontal">
                <div class="center">
                    <h2 style="font-size: 3em;">Client Information</h2>
                </div>
                <div class="containers">
                    <div class="form-group">
                        <input type="text" class="form-control" name="validate-text" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="validate-text" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="validate-text" placeholder="Contact number">
                    </div>
                </div>
                <div class="btncontainer">
                    <button class="btn btn-block prop-btn" style="border-radius: 15px">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style type="text/css">
.prop-btn {
    background-color: rgba(9, 152, 161, 0.74);
    color: #ffffff;
}

.btncontainer {
    width: 455px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 8px;
}

.containers {
    width: 425px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-top: 15px;
}

.form-control {
    border-radius: 15px !important;
}

.backgrund {
    background: url('img/1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
</style>