<div class="container">
    <div class="row">
        <div class="wrapper">
            <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        <h2 style="padding-left: 15px;color: #03141f;">Exterior Schemes</h2>
                    </li>
                    <div class="menu" style="height: 91vh;overflow: scroll;">
                        <li data-ng-repeat="img in images track by $index" class="grid">
                            <img src="{{img.image}}" class="grid-img" style="width: 100%">
                            <div class="item-overlay top">
                                <img src="img/selected.png" class="item-Img">
                                <div class="item-Name">{{img.item_name || img.space_name}}</div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="scheme-content">
                <div><img src="img/thumbnail.png" style="width: 100%; height: 507px;"></div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row" style="text-align: left;margin-top: 20px;">
                            <div class="col-md-7">
                                <h1>Buff</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="col-md-5">
                                <ol style="margin-top: 35px;">
                                    <li>Concrete Driveway<br>
                                    Current</li>
                                    <li>Garage Done<br>
                                    Current</li>
                                    <li>Roof Tile<br>
                                    Current</li>
                                    <li>Ceiling Lining<br>
                                    Current</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".push_menu").click(function() {
        $(".wrapper").toggleClass("active");
    });
});
</script>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Lato);

.container {
    width: 800px;
    overflow: hidden;
    display: inline-block;
}

.title-scheme {
    font-size: 35px;
    font-weight: bold;
    color: #0e3045;
}

.side-bar {
    position: absolute;
    height: 100%;
    width: 320px;
    color: #fff;
    margin-top: -15px;
    transition: margin-left 0.5s;
    box-shadow: 3px 0px 8px 3px rgba(179, 179, 179, 0.25);
}

.side-bar ul {
    list-style: none;
    padding: 0px;
}

.side-bar ul .menu li a img {
    position: absolute;
    right: 25px;
    opacity: 0;
}

.card:hover .item-overlay.item-topzz,
.card:hover .item-overlay.top,
.grid:active .item-overlay.top,
.grid:hover .item-overlay.top {
    top: 0;
}

.card:hover .item-overlay.right,
.grid:active .item-overlay.right,
.grid:hover .item-overlay.right {
    right: 0;
    left: 0;
}

.card:hover .item-overlay.bottom,
.grid:active .item-overlay.bottom,
.grid:hover .item-overlay.bottom {
    bottom: 0;
}

.card:hover .item-overlay.left,
.grid:active .item-overlay.left,
.grid:hover .item-overlay.left {
    left: 0;
}

.card:hover .item-Name,
.grid:active .item-Name,
.grid:hover .item-Name {
    background: transparent;
    font-size: 30px;
    bottom: 28px;
    transition-delay: .1s;
}

.card:hover .item-Img,
.grid:active .item-Img,
.grid:hover .item-Img {
    opacity: 1;
    transition-delay: .3s;
}


.card:hover .item-Btn {
    display: inherit;
    transition-delay: .3s;
}










/* 
by default, overlay is visible… 
*/

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(92, 186, 189, 0.45), #021c1d);
    color: #fff;
    overflow: hidden;
    /*text-align: center;*/
    /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
    width: 100%;
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-Name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #071c2d;
    height: 44px;
    color: #fff;
    width: 100%;
    padding: 11px 30px;
    /* -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;*/
}

.item-Img {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: 30px;
    opacity: 0;
}

.item-Btn {
    display: none;
}

.item-overlay.top {
    top: 83%;
}

.item-overlay.right {
    right: 200%;
    left: -100%;
}

.item-overlay.bottom {
    bottom: 100%;
}

.item-overlay.left {
    left: 100%;
}

.item-topzz {
    top: 90%;
}















/*li {
    margin-bottom: 5px;
}*/

.side-bar ul li.menu-head {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.scheme-content {
    position: absolute;
    margin-left: 23.5%;
    text-align: center;
    margin-top: -15px;
    width: 77%
}

.side-bar ul li.menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}


.side-bar ul .menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu li a {
    /* background: linear-gradient(to left, rgba(255, 0, 0, 0), #60798e); */
    color: #fff;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
}

.side-bar ul .menu li a:hover {
    padding-left: 40px;
    background: #3bb1d9;
}

.side-bar ul .menu li a:hover img,
.side-bar ul .menu li a.active img {
    opacity: 1 !important;
}

.side-bar ul .menu li a.active {
    padding-left: 40px;
    background: #3bb1d9;
}

.grid-imgss {
    width: 375px;
    margin: auto;
    margin-top: 30px;
}

.grid-imgss img {
    width: 40px;
}





.grid {
    position: sticky;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    overflow: hidden;
    border-radius: 0px;
    width: 100%;
}








/*.side-bar ul .menu li a.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 18px solid #113045;
    margin-top: -10px;
    margin-left: 180px;
}*/

.content {
    /*padding-left: 200px;*/
    /*transition: padding-left 0.5s;*/
}

.active>.side-bar {
    margin-left: -150px;
    transition: margin-left 0.5s;
}

.active>.content {
    padding-left: 50px;
    transition: padding-left 0.5s;
}
</style>