<div style="overflow: hidden;" id="home" class="">
    <div class="row">
        <button class="backbtn" ng-click="goBack()"><img src="img/backarrow.svg"></button>
        <div class="backgrund" ng-class="half ? 'col-md-12': 'col-md-6'">
            <div class="center" style="margin-bottom: 30px;">
                <h2 style="font-size: 2.5em;">Enter your home type</h2>
            </div>
            <div class="form-wrap">
                <form role="form" ng-submit="start()" name="homeForm">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-border" name="validate-text" id="validate-text" placeholder="Home Design" style="height: 45px;" ng-model="data.home_name" required>
                            <span class="input-group-addon span-border" ng-click="getDetail('home')"><img src="img/icon.png"> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-border" name="validate-text" id="validate-text" placeholder="Facade Type" style="height: 45px;" ng-model="data.space_name" required>
                            <span class="input-group-addon span-border" ng-click="getDetail('facade')"><img src="img/icon.png"> </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-border" name="validate-text" id="validate-text" placeholder="Floor plan" style="height: 45px;" ng-model="data.floor_name" required>
                            <span class="input-group-addon span-border" ng-click="getDetail('floorplan')"><img src="img/icon.png"> </span>
                        </div>
                    </div>
                    <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block prop-btn" value="Start" ng-disabled="homeForm.$invalid">
                </form>
            </div>
        </div>
        <div class="slideInRight" ng-class="{'col-md-6':!half}" style="padding: 0;height: 100vh;overflow-y: scroll;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()"><span aria-hidden="true" style="font-size: 30px;padding-right: 15px;">
                    <img src="img/close.png"></span><span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="lineModalLabel" style="font-weight: bold;color: #061c2e;"><img src="img/title_icon.png"> {{title}}</h3>
            </div>
            <div class="col-md-12" style="padding: 0px;" ng-if="home">
                <div class="dynamic-grid" angular-grid="homesdesign" ag-grid-width="250" ag-gutter-size="0" ag-options="angularGridOptions" ag-id="home">
                    <li data-ng-repeat="img in images track by $index" class="grid" ng-click="getHomeDesign(img)">
                        <img src="{{img.image}}" class="grid-img">
                        <!-- <div class="card-block" style="background: #071c2d;">
                            {{img.item_name || img.space_name}}
                        </div> -->
                        <div class="item-overlay top">
                            <img src="img/selected.png" class="item-Img">
                            <div class="item-Name">{{img.item_name || img.space_name}}</div>
                        </div>
                    </li>
                </div>
            </div>
            <div ng-if="floorplan">
                <div ng-switch="detail">
                    <div ng-switch-when="true">
                        <div class="col-md-6" ng-repeat="item in floorplans" ng-click="getFlooplan(item)">
                            <div class="card card-pad">
                                <!-- <div class="overlay">
                                    <img src="img/selected.png" class="selects">
                                    <button class="btns" ng-click="viewDetails()">View Details</button>
                                    <div class="overlay-name">
                                        {{item.plan_name}}
                                    </div>
                                </div> -->
                                <img class="card-img-top" src="{{item.image}}">
                                <!--  <div class="card-block" style="background: #071c2d;">
                                    {{item.plan_name}}
                                </div> -->
                                <div class="item-overlay item-topzz">
                                    <img src="img/selected.png" class="item-Img">
                                    <button class="btns item-Btn" ng-click="viewDetails()">View Details</button>
                                    <div class="item-Name"> {{item.plan_name}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="card card-pad">
                                <img class="card-img-top" src="img/floorplan.png">
                                <div class="card-block" style="background: #071c2d;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-pad">
                                <img class="card-img-top" src="img/floorplan.png">
                                <div class="card-block" style="background: #071c2d;">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card card-pad">
                                <img class="card-img-top" src="img/floorplan.png">
                                <div class="card-block" style="background: #071c2d;">
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div ng-switch-when="false">
                        <div class="container-detail">
                            <div class="row">
                                <a href="" class="back" ng-click="viewDetails()">
                                     <img src="img/backarrow_black.svg">
                                </a>
                            </div>
                            <div class="title-detail">
                                <div style="margin-bottom: 25px;text-align: center;">
                                    <span style="font-size: 1.3em">Callula 17</span>
                                    <div style="display: flex;margin-top: 20px;margin-left: 105px;">
                                        <img src="img/hotel.svg" class="imgs">
                                        <img src="img/hotel.svg" class="imgs">
                                        <img src="img/chair.svg" class="imgs">
                                        <img src="img/car.svg" class="imgs">
                                    </div>
                                </div>
                                <div style="position: relative;margin-left: 50px;font-size: 1.6em;font-weight: bold;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            Total Area
                                            <br>
                                            <span style="font-size: 20px;">{{floordetail[findDimension('Total Area')].dimension_name == 'Total Area' ? floordetail[findDimension('Total Area')].measurement : 'None'}}</span>
                                        </div>
                                        <div class="cold-md-6">
                                            Min. Block Width
                                            <br>
                                            <span style="font-size: 20px;">{{floordetail[findDimension('Min. Block Width')].dimension_name == 'Min. Block Width' ? floordetail[findDimension('Min. Block Width')].measurement : 'None'}}</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-12">
                                            Feature
                                            <br>
                                            <span style="font-size: 20px;"><img src="img/check.svg"> Master Bed at Front</span>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-md-10">
                                            Measurement
                                            <br>
                                        </div>
                                        <div class="col-xs-2"><img src="img/arrowup.svg"> </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>House Dimensions</h4>
                                        </div>
                                        <div style="font-size: 15px;" ng-repeat="item in floordetail" ng-if="item.dimension_name!='Total Area' && item.dimension_name !='Min. Block Width' && item.classification_id != 1">
                                            <div class="col-md-6">
                                                {{item.dimension_name}}
                                            </div>
                                            <div class="col-md-6" style="text-align: right;">
                                                <div style="margin-right: 23px;">
                                                    {{item.measurement}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Room Dimensions</h4>
                                        </div>
                                        <!--  <div style="font-size: 15px;" ng-repeat="item in floordetail" ng-if="item.classification_id == 2">
                                             <div class="col-md-6">
                                                {{item.dimension_name}} -->
                                        <div style="font-size: 15px;">
                                            <div class="col-md-6">
                                                Family
                                            </div>
                                            <div class="col-md-6" style="text-align: right;">
                                                <div style="margin-right: 23px;">
                                                    {{item.measurement}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">
.card:hover .item-overlay.item-topzz,
.card:hover .item-overlay.top,
.grid:active .item-overlay.top,
.grid:hover .item-overlay.top {
    top: 0;
}

.card:hover .item-overlay.right,
.grid:active .item-overlay.right,
.grid:hover .item-overlay.right {
    right: 0;
    left: 0;
}

.card:hover .item-overlay.bottom,
.grid:active .item-overlay.bottom,
.grid:hover .item-overlay.bottom {
    bottom: 0;
}

.card:hover .item-overlay.left,
.grid:active .item-overlay.left,
.grid:hover .item-overlay.left {
    left: 0;
}

.card:hover .item-Name,
.grid:active .item-Name,
.grid:hover .item-Name {
    background: transparent;
    font-size: 30px;
    bottom: 28px;
    transition-delay: .1s;
}

.card:hover .item-Img,
.grid:active .item-Img,
.grid:hover .item-Img {
    opacity: 1;
    transition-delay: .3s;
}


.card:hover .item-Btn {
    display: inherit;
    transition-delay: .3s;
}







/* 
by default, overlay is visible… 
*/

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(92, 186, 189, 0.45), #021c1d);
    color: #fff;
    overflow: hidden;
    /*text-align: center;*/
    /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
    width: 100%;
    -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.item-Name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: #071c2d;
    height: 44px;
    color: #fff;
    width: 100%;
    padding: 11px 30px;
    /* -moz-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
    transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;*/
}

.item-Img {
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    width: 30px;
    opacity: 0;
}

.item-Btn {
    display: none;
}










/*
…but this hide it
*/

.item-overlay.top {
    top: 83%;
}

.item-overlay.right {
    right: 200%;
    left: -100%;
}

.item-overlay.bottom {
    bottom: 100%;
}

.item-overlay.left {
    left: 100%;
}

.item-topzz {
    top: 90%;
}





.card-pad {
    margin-bottom: 15px;
}

.imgs {
    margin-right: 50px;
}

.container-detail {
    width: 500px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.overlay-name {
    font-size: 3em;
    color: white;
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 13px;
}

.container-detail .title-detail {
    margin-top: 50px;
    /*position: relative;*/
    /*left: 27%;*/
    /*top: 20%;*/
}

.back {
    position: absolute;
    margin-top: 10px;
}

.btns {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #307678;
    color: white;
    padding: .5em 1em;
    border: none;
    font-size: 1.3em;
    border-radius: 4px;
    /*text-transform: uppercase;*/
    letter-spacing: .12em;
    font-weight: 300;
    width: 200px;
    height: 46px;
    border-radius: 20px;
}

.selects {
    position: absolute;
    right: 0;
    margin-top: 15px;
    margin-right: 15px;
}

.card .overlay {
    /*background: url('img/selected.png') no-repeat center center;*/
    position: absolute;
    background: linear-gradient(to bottom, #5cbabd, #021c1d);
    /*background-color: rgb(49, 149, 154);*/
    width: 89%;
    height: 96%;
    z-index: 2;
    opacity: .9;
    background-position-x: right;
    background-position-y: top
}

.prop-btn {
    background: rgba(9, 152, 161, 0.74);
    color: #ffffff;
    border-radius: 30px;
    opacity: 90;
}

.input-border {
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.span-border {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.form-control {
    /*border-radius: 15px !important;*/
}

.containers {
    width: 450px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.backgrund {
    background: url('img/Bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*width: 100%;*/
    height: 100vh;
}

.dynamic-grid {
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid {
    display: block;
}

.grid {
    position: absolute;
    list-style: none;
    background: #ffffff;
    ;
    box-sizing: border-box;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
    overflow: hidden;
    border-radius: 0px;
}

.grid.ng-leave {
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
}

.grid.ng-leave.ng-leave-active {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.grid.ng-enter {
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
    -webkit-transition-delay: 500ms;
    transition-delay: 500ms;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
}

.grid.ng-enter.ng-enter-active {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.grid-img {
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded {
    visibility: visible;
    opacity: 1;
}


#home .form-wrap {
    width: 45%;
    margin: 0 auto;
}

#home h1 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}

#home .form-group {
    margin-bottom: 25px;
}

#home .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#home .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}

#home .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}

#home .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}

#home .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

.text-bold {
    font-weight: 700;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    color: #fff;
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
}

.card-text {
    clear: both;
    margin-top: .5em;
    color: rgba(0, 0, 0, .68);
}

.card-footer {
    font-size: 1em;
    position: static;
    top: 0;
    left: 0;
    max-width: 100%;
    padding: .75em 1em;
    color: rgba(0, 0, 0, .4);
    border-top: 1px solid rgba(0, 0, 0, .05) !important;
    background: #fff;
}

.card-inverse .btn {
    border: 1px solid rgba(0, 0, 0, .05);
}
</style>