<div class="backgrund">
    <div class="row">
        <button class="backbtn" ng-click="goBack()"><img src="img/backarrow.svg"></button>
         <!-- <div class="circle1">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div>
         <div class="circle2">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div>
          <div class="circle3">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div>
          <div class="circle4">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div>
           <div class="circle5">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div>
          <div class="circle6">
            <img src="img/circle-add.svg" ng-click="modal()">
        </div> -->
          <div class="interior">
            <h2>Facade</h2>
            <!-- <br><br> -->
           <div class="selection">
                Spaces
           </div>
        </div>
        <div class="welcome-btn">
        	<button type="button" class="btn prop-btn" ui-sref="main.interior">Show interior  <img src="img/arrow2.svg" style="padding-left: 10px;"></button>	
        </div>
    </div>
</div>
<style type="text/css">
.backgrund {
    background: url('img/model.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.welcome-btn{
	    position: absolute;
        right: 80px;
    bottom: 37px;
}
.prop-btn {
	font-size: 18px;
	height: 48px;
    width: 196px;
    border-radius: 36px;
    background-color: rgba(9, 152, 161, 0.74);
    color: #ffffff;
    padding-left: 14px;
}
.interior{
    position: absolute;
       bottom: 0px;
    left: 0px;
    color: #fff;
        width: 25%;
    text-align: center;
    background: linear-gradient(to bottom, rgba(255,0,0,0), #083750);
}
.selection{
        background: #0d374c;
    font-size: 18px;
    /* height: 23px; */
    padding: 10px;
}
.circle1 {
    position: absolute;
    right: 44%;
    top: 43%;
}
.circle2 {
   position: absolute;
    right: 58%;
    top: 59%;
}
.circle3 {
    position: absolute;
    right: 50%;
    top: 62%;
}
.circle4 {
    position: absolute;
    right: 80%;
    top: 50%;
}
.circle5 {
    position: absolute;
    right: 75.5%;
    top: 65%;
}
.circle6 {
      position: absolute;
    right: 18%;
    top: 62%;
}
</style>