<div class="container">
    <div class="row">
        <div class="wrapper">
            <div class="side-bar">
                <ul>
                    <li class="menu-head">
                        <h2 style="padding-left: 40px;">Spaces</h2>
                    </li>
                    <div class="menu">
                        <li>
                            <a href="#">Dashboard <img src="img/selected.png"></a>
                        </li>
                        <li>
                            <a href="#" class="active">Love snippet <img src="img/selected.png"></a>
                        </li>
                        <li>
                            <a href="#">Like it?  <img src="img/selected.png"></a>
                        </li>
                        <li>
                            <a href="#">Settings <img src="img/selected.png"></a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="scheme-content">
                <div class="col-md-12">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="title-detail">
                                <div style="margin-bottom: 25px;text-align: center;margin-top: 10px;">
                                    <span style="font-size: 2.5em">Callula 17</span>
                                    <!-- <div style="display: flex;margin-top: 20px;">
                                        <img src="img/hotel.svg" class="imgs">
                                        <img src="img/hotel.svg" class="imgs">
                                        <img src="img/chair.svg" class="imgs">
                                        <img src="img/car.svg" class="imgs">
                                    </div> -->
                                    <div class="grid-imgss">
                                        <div class="row">
                                            <div class="col-md-3"><img src="img/hotel.svg" class="imgs">
                                                <div>1</div>
                                            </div>
                                            <div class="col-md-3"><img src="img/hotel.svg" class="imgs">
                                                <div>2</div>
                                            </div>
                                            <div class="col-md-3"><img src="img/chair.svg" class="imgs">
                                                <div>1</div>
                                            </div>
                                            <div class="col-md-3"><img src="img/car.svg" class="imgs">
                                                <div>3</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row" style="text-align: left;margin-top: 20px;">
                                            <div class="col-md-6">
                                                <h3>Total Area</h3>
                                                <p>16.75 sq</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h3>Min. Block Width</h3>
                                                <p>12.5 m</p>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left;margin-top: 20px;">
                                            <div class="col-md-12">
                                                <h3>Features</h3>
                                                <p>Master Bed at Front</p>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left;margin-top: 20px;">
                                            <div class="col-md-12">
                                                <h3>Measurements</h3>
                                            </div>
                                            <div class="col-md-12">
                                                <h4>Home Dimensions</h4>
                                            </div>
                                        </div>
                                        <!-- Home Dimensions -->
                                        <div class="row" style="text-align: left;">
                                            <div class="col-md-6">
                                                <p>House Area</p>
                                                <p>Garage Area</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>12.5 m</p>
                                                <p>360 m</p>
                                            </div>
                                        </div>
                                        <div class="row" style="text-align: left;margin-top: 20px;">
                                            <div class="col-md-12">
                                                <h4>Room Dimensions</h4>
                                            </div>
                                            <!-- Room Dimensions -->
                                            <div class="col-md-6">
                                                <p>House Area</p>
                                                <p>Garage Area</p>
                                            </div>
                                            <div class="col-md-6">
                                                <p>12.5 m</p>
                                                <p>360 m</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Ground Floor</h2>
                            </div>
                            <div class="col-md-6">
                                <h2>Level 2</h2>
                            </div>
                        </div>
                        <div style="padding: 25px">
                            <img src="img/floorplan.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $(".push_menu").click(function() {
        $(".wrapper").toggleClass("active");
    });
});
</script>
<style type="text/css">
@import url(http://fonts.googleapis.com/css?family=Lato);

.container {
    width: 800px;
    overflow: hidden;
    display: inline-block;
}

.title-scheme {
    font-size: 35px;
    font-weight: bold;
    color: #0e3045;
}

.side-bar {
    background: linear-gradient(to right, #162e43, #073145);
    position: absolute;
    height: 100%;
    width: 320px;
    color: #fff;
    margin-top: -15px;
    transition: margin-left 0.5s;
    box-shadow: 3px 0px 8px 3px #b3b3b3;
}

.side-bar ul {
    list-style: none;
    padding: 0px;
}

.side-bar ul .menu li a img {
    position: absolute;
    right: 25px;
    opacity: 0;
}











/*li {
    margin-bottom: 5px;
}*/

.side-bar ul li.menu-head {
    font-family: 'Lato', sans-serif;
    padding: 20px;
}

.scheme-content {
    position: absolute;
    margin-left: 24%;
    text-align: center;
    margin-top: 28px;
    width: 76%;
}

.side-bar ul li.menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}


.side-bar ul .menu-head a {
    color: #fff;
    text-decoration: none;
    height: 50px;
}

.side-bar ul .menu li a {
    /* background: linear-gradient(to left, rgba(255, 0, 0, 0), #60798e); */
    color: #fff;
    text-decoration: none;
    display: inline-table;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
}

.side-bar ul .menu li a:hover {
    padding-left: 40px;
    background: #3bb1d9;
}

.side-bar ul .menu li a:hover img,
.side-bar ul .menu li a.active img {
    opacity: 1 !important;
}

.side-bar ul .menu li a.active {
    padding-left: 40px;
    background: #3bb1d9;
}

.grid-imgss {
    width: 375px;
    margin: auto;
    margin-top: 30px;
}

.grid-imgss img {
    width: 40px;
}









/*.side-bar ul .menu li a.active:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

    border-left: 18px solid #113045;
    margin-top: -10px;
    margin-left: 180px;
}*/

.content {
    /*padding-left: 200px;*/
    /*transition: padding-left 0.5s;*/
}

.active>.side-bar {
    margin-left: -150px;
    transition: margin-left 0.5s;
}

.active>.content {
    padding-left: 50px;
    transition: padding-left 0.5s;
}
</style>