<div class="backgrund">
    <div class="row">
        <button class="backbtn" ng-click="goBack()"><img src="img/backarrow.svg"></button>
        <div class="welcome">
            <h2 style="font-size: 2.9em;">Welcome to Callula Home</h2>
        </div>
        <div class="welcome-btn">
        	<button type="button" class="btn prop-btn" ui-sref="main.model">Next  <img src="img/arrow2.svg" style="padding-left: 10px;"></button>	
        </div>
    </div>
</div>
<style type="text/css">
.backgrund {
    background: url('img/bg2.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.welcome {
    color: #ffffff;
    position: absolute;
    bottom: 33px;
    height: 87px;
    padding: 8px 60px;
    width: 100%;
    background: linear-gradient(to left, rgba(255, 0, 0, 0), #002d43);
}
.welcome-btn{
	    position: absolute;
        right: 80px;
    bottom: 37px;
    /*border: 1px solid #00232f;*/
}
.prop-btn {
	font-size: 18px;
	height: 48px;
    /*width: 200px;*/
        width: 196px;
    border-radius: 36px;
    background-color: rgba(9, 152, 161, 0.74);
    color: #ffffff;
    padding-left: 14px;
}
</style>