<div class="container backgrund" style="overflow: hidden;">
    <div  ng-click="click()">
        <div class="center">
            <h2 style="font-size: 5.8em;">Welcome Home</h2>
            <br><br>
             <a ui-sref="main.home" style="width: 25% !important;">Tap to start</a>
        </div>
    </div>
</div>
<style type="text/css">
.backgrund {
    background: url('img/Bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height:100vh;
}
a {
        display: inline-block;
        padding: 15px 0;
        width: 100%;
        font-size: 1.2em;
        color: white;
       background: rgba(9, 152, 161, 0.74);
        border: 1px solid rgba(9, 152, 161, 0);
        border-radius: 30px;
</style>